<p>In 2008, the CIBERESP, within the framework of Cross-Sectional 
Action in Cancer, provided the resources to launch a population-based <strong>multicase-control study </strong>(MCC-SPAIN)
 in order to research the influence of environmental factors and their 
interaction with genetic factors in frequent tumours or tumours with 
peculiar epidemiological characteristics in our country, in which the 
environmental factors involved are not sufficiently understood.</p>
<p>The selected tumours are <strong>colorectal cancer, breast cancer, gastroesophageal cancer and prostate cancer</strong>. <strong>Chronic lymphocytic leukaemia (CLL) h</strong>as
 been recently added to the study. Colorectal cancer has been selected 
due to its frequency in both sexes. Gastroesophageal cancer has been 
selected due to its characteristic geographic pattern and the 
environmental hypotheses suggested. Prostate cancer has been chosen due 
to its frequency and its hormonal nature, sharing with breast cancer the
 etiological hypotheses of endocrine disruption. The study involves data
 collection using an interview as well as the obtention of several 
biological samples. The population controls have been selected from 
primary care centre lists and interviews are performed in these centres.</p>
<p>The MCC-Spain study has also been backed by funding from the FIS during the 2009-2011 period.</p>
<p><strong>Organization</strong></p>
<p>CREAL is the coordinator centre of MCC-Spain in direct collaboration 
with the ISCII (Madrid). The study is organized in working groups that 
include water contaminants, occupation, endocrine disruptors, 
medication, tumour clinical symptoms and markers, infections, screening 
and genetics.</p>
<p>The MCC-Spain study is coordinated by Manolis Kogevinas (CREAL), 
Marina Pollan (ISCIII) and a coordinator committee, with the 
participation of representatives of all CIBERESP nodes where the study’s
 cases and controls are collected.</p>
<p><strong>Objectives</strong></p>
<p>The general objective of the study is to assess environmental and 
genetic factors associated with colorectal, breast, stomach/esophageal 
and prostate cancer.</p>
<p>The specific objectives are:</p>
<ol>
    <li>To assess the cancer risk of every tumour site in relation to 
environmental exposures including drinking water contaminants (arsenic, 
nitrates, chrome, chlorination by-products), hormonal disruptors and 
other persistent organic contaminants.</li>
    <li>To assess cancer risks related to the consumption of statins and analgesics.</li>
    <li>To assess the risk of breast and prostate cancer related to 
hormonal factors, infections and permanent phenotypes (digit ratio 
2d:4d; anogenital distance) related with environmental exposures in 
early stages of life.</li>
    <li>To validate the assessment of exposure to environmental chemical
 agents by means of exposure models using exposure biomarkers, 
individual information and environmental exposure measurements.</li>
    <li>To assess a limited series of genes in relation both to primary effects and to their interaction with environmental factors.</li>
    <li>To store sufficient biologic material for its use in future GWAS (genome wide association studies) studies and others.</li>
</ol>
<p>Researchers from the CIBERESP in 11 autonomous communities of Spain 
(Catalonia, Madrid, Asturias, Navarra, Basque Country, Murcia, 
Cantabria, Andalusia, Valencia, Castilla y Leon) are participating in 
the study. Up until March 2010 information and biologic samples were 
obtained from 1,600 population controls, 1,200 colon and rectum cases, 
750 breast cancer cases, 450 prostate cancer cases, 120 stomach cancer 
cases, and the collection of leukaemia cases was initiated.</p>
<p>If you wish to see the study protocol, click <a class="external" target="_blank" rel="external" href="http://www.creal.cat/media/upload/arxius/projectes/PROTOCOLOESTUDIOMCCmarzo2010.pdf">here</a>.</p>
<p>If you wish to view the questionnaire, click <a class="external" target="_blank" rel="external" href="http://www.creal.cat/media/upload/arxius/projectes/cuestionarioMCCSpmarzo2010.pdf">here</a>.</p>
<p>You can access a brief presentation by clicking <a class="external" target="_blank" rel="external" href="http://www.creal.cat/media/upload/arxius/projectes/Folder%20presentacion6.pdf">here</a>.</p>
<p>To view the map of hospitals that are participating in this project, click <a class="external" target="_blank" rel="external" href="http://www.creal.cat/media/upload/arxius/projectes/Hospitalesparticipantes.pdf">here</a>.</p>
<p>To view the list of collaborators, click <a href="http://www.creal.cat/media/upload/arxius/projectes/Listado%20participantes%20MCC_Oct10.doc">here</a>.</p>

